*.aux
*.pdf
*.log
Dokument/document.toc
Dokument/document.bbl
Dokument/document.blg
Dokument/document.bcf
Dokument/document.run.xml
Dokument/document.synctex.gz
Referenzen
Materialien
"Andere Arbeiten"
